/* .list-group a:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
} */

.nav.collapse {
    flex-direction: column !important;
  }

  .custom-col-2 {
    flex-basis: 200px; /* Sesuaikan panjang kolom sesuai kebutuhan */
    height: 100vh;
  }

#parentM li a:hover {
    background-color: #078D41;
}
.arrow-right-icon {
  margin-left: auto;
}


@media (min-width: 320px) {
    .custom-col-2 {
        flex-basis: 110px; /* Sesuaikan panjang kolom sesuai kebutuhan */
        height: 100vh;
      }
}

/* @media (min-width: 320px) {
    .sidebar {
        position: absolute !important;
    }
} */