  .format-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 6px;
    background-color: #BFBFBF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  button.format-option-btn1 {
    height: 25px;
    width: 25px;
    padding: 5px;
    display: grid;
    place-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1.5px solid #808080;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button.format-option-btn2 {
    height: 25px;
    width: 25px;
    padding: 5px;
    display: grid;
    place-items: center;
    border-top: 1.5px solid #808080;
    border-right: 1.5px solid #808080;
    border-bottom: 1.5px solid #808080;
    border-left: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button.format-option-btn3 {
    height: 25px;
    width: 25px;
    padding: 5px;
    display: grid;
    place-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1.5px solid #808080;
    border-right: 1.5px solid #808080;
    border-bottom: 1.5px solid #808080;
    border-left: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }

  button.format-option-btn1:hover {
    background-color: rgb(99, 237, 125);
  }
  .active-btn {
    background-color: green;
    color: white;
  }
  select.select-heading {
    font-size: 11px;
    padding: 5px;
    border: 1.5px solid #808080;
    border-radius: 3px;
  }
  .format-panel label,
  .format-panel select {
    font-family: "Poppins", sans-serif;
  }
  .text-input-panel {
    margin-top: 0px;
    border-left: 2px solid #BFBFBF;
    border-right: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    font-size: 12px;
    height: 30vh;
    overflow: auto;
  }

  @media (min-width: 425px) {}

  @media (min-width: 778px) {
    .format-panel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        padding: 1%;
        background-color: #BFBFBF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      button.format-option-btn1 {
        height: 35px;
        width: 35px;
        /* padding: 9px; */
        display: grid;
        place-items: center;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 1.5px solid #808080;
        background-color: #ffffff;
        outline: none;
        color: #020929;
      }
      button.format-option-btn2 {
        height: 35px;
        width: 35px;
        /* padding: 9px; */
        display: grid;
        place-items: center;
        border-top: 1.5px solid #808080;
        border-right: 1.5px solid #808080;
        border-bottom: 1.5px solid #808080;
        border-left: none;
        background-color: #ffffff;
        outline: none;
        color: #020929;
      }
      button.format-option-btn3 {
        height: 35px;
        width: 35px;
        /* padding: 9px; */
        display: grid;
        place-items: center;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1.5px solid #808080;
        border-right: 1.5px solid #808080;
        border-bottom: 1.5px solid #808080;
        border-left: none;
        background-color: #ffffff;
        outline: none;
        color: #020929;
      }
    
      button.format-option-btn1:hover {
        background-color: rgb(99, 237, 125);
      }
      .active-btn {
        background-color: green;
        color: white;
      }
      select.select-heading {
        padding: 7px;
        font-size: 16px;
        border: 1.5px solid #808080;
        border-radius: 3px;
      }
      .format-panel label,
      .format-panel select {
        font-family: "Poppins", sans-serif;
      }
      .text-input-panel {
        margin-top: 0px;
        border-left: 2px solid #BFBFBF;
        border-right: 2px solid #BFBFBF;
        border-bottom: 2px solid #BFBFBF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
        height: 30vh;
      }
  }

  @media (min-width: 1024px) {}
