button.add-draft-btn, button.add-publish-btn {
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 10px !important;
}
.input-judul-brt {
    position: relative;
    width: 100%;
    border: none !important;
    outline: none !important;
    color: #808080;
    font-size: 14px;
  }
.add-title {
    font-size: 12px;
}
.dragdrop-img-icon {
    width: 20px;
}
.dragdrop-text1 {
    font-size: 10px;
}
.dragdrop-text2 {
    font-size: 8px;
}
.dragdrop-dot-img {
    width: 10px;
    margin-bottom: 16px;
}

.dropzone-berita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6FFF9;
    border-radius: 8px;
    height: fit-content;
    padding: 1.5rem !important;
    border: 2px dashed #808080;
    /* padding-top: 8rem;
    padding-bottom: 8rem;
    padding-right: 3rem;
    padding-left: 3rem; */
    /* border: 2px dashed rgb(117,112,112); */
    /* padding: 5rem; */
    /* background-image: repeating-linear-gradient(0deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(90deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(180deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(270deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat; */
}
.dragdrop-text3 {
    font-size: 11px;
}
.calendar-icon-brt {
    width: 15px !important;
}
/* .tgl-jurnalis {
    width: 100% !important;
} */
.input-jurnalis {
    font-size: 11px !important;
}

button.btn-drop {
    padding: 12px;
    font-size: medium;
}

.uploaded-image {
    position: relative;
    transition: transform 0.3s;
  }
  
  .uploaded-image:hover {
    opacity: 0.8;
  }
  
  .image-actions {
    position: absolute;
    top: 10%;
    /* left: 80%; */
    right: 0%;
    transform: translate(-10%, -10%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .uploaded-image:hover .image-actions {
    opacity: 1;
  }
  
  .image-actions button {
    margin-right: 5px;
  }
  
  /* Membuat efek transisi untuk tombol */
  .image-actions button {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .uploaded-image:hover .image-actions button {
    opacity: 1;
  }

  button.btn-hapus-imgbrt, button.btn-ganti-imgbrt {
    background-color: #8b8b8b;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1.5px solid #BFBFBF;
    border-radius: 10px;
    color: white;
  }
  button.btn-hapus-imgbrt:hover, button.btn-ganti-imgbrt:hover {
    background-color: #535353;
  }


@media (min-width: 425px) {
    .input-judul-brt {
        font-size: 15px;
      }
    .add-title {
        font-size: 14px;
    }
    .dragdrop-img-icon {
        width: 20px;
    }
    .dragdrop-text3 {
        font-size: 12px;
    }
}

@media (min-width: 769px) {
    button.add-draft-btn, button.add-publish-btn {
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        font-size: 16px !important;
    }
    .input-judul-brt {
        position: relative;
        width: 100%;
        border: none !important;
        outline: none !important;
        color: #808080;
        font-size: 24px;
      }
    .add-title {
        font-size: 20px;
    }
    .dragdrop-img-icon {
        width: auto;
        margin-bottom: 1rem;
    }
    .dragdrop-text1 {
        font-size: 14px;
    }
    .dragdrop-text2 {
        font-size: 12px;
    }
    .dragdrop-dot-img {
        width: auto;
        margin-bottom: 16px;
    }
    .dropzone-berita {
        padding-top: 8rem;
    padding-bottom: 8rem;
    padding-right: 10rem;
    padding-left: 10rem;
        }
          .dropzone-berita {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #F6FFF9;
            border-radius: 10px;
            height: 23rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
            padding-right: 10rem;
            padding-left: 10rem;
            /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #F6FFF9; */
    /* border-radius: 8px; */
    /* height: fit-content; */
    padding: 8rem !important;
    border: 2px dashed #808080;
            /* border: 2px dashed rgb(117,112,112); */
            /* padding: 5rem; */
            /* background-image: repeating-linear-gradient(0deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(90deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(180deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px), repeating-linear-gradient(270deg, #808080, #808080 10px, transparent 10px, transparent 20px, #808080 20px);
            background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
            background-position: 0 0, 0 0, 100% 0, 0 100%;
            background-repeat: no-repeat; */
        }
        .dragdrop-text3 {
            font-size: 14px;
        }
        .calendar-icon-brt {
            width: 20px !important;
        }
        /* .tgl-jurnalis {
            width: 100% !important;
        } */
        .input-jurnalis {
            font-size: 16px !important;
        }
        button.btn-hapus-imgbrt, button.btn-ganti-imgbrt {
            background-color: #8b8b8b;
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1.5px solid #BFBFBF;
            border-radius: 15px;
            color: white;
          }
}