@media (max-width: 1440px) {
.bungkus-donatur{
    padding: 40px;
    background-color: #EDF6F0;
}
.donatur{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kiri{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    text-decoration: none;
}
.kembali{
    font-size: 16px;
    color: #404040;
}
.button-atas-kanan{
    display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 362px;
}
.simpan{
    width: 174px;
    height: 49px;
    border: 1.5px solid #BFBFBF;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
}
.verif{
    width: 174px;
    height: 49px;
    border: 2px solid #078D41;
    border-radius: 10px;
    font-size: 16px;
    background-color: #078D41;
    border: none;
    color: white;
}
.info{
    width: 142px;
    height: 44px;
    border-radius: 10px;
    border: 1.5px solid #009B4C;
    font-size: 14px;
}
.umum{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 265px;
    margin-top: 30px;
}
.umum p{
    color: #404040;
    font-size: 14px;
    text-decoration: none;
}

.putih{
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    height: fit-content;
    position: relative;
}
.judul{
    font-size: 20px;
    color: black;
}
.nam-prog{
    margin-top: -10px;
    font-size: 14px;
}
.nam-prog .form-label{
  font-size: 14px;
}
.nam-prog input::placeholder {
    font-size: 16px;
    margin-top: 5px;
}
.nam-prog input{
  font-size: 16px;
}
.form-control-textarea {
  font-size: 16px;
  margin-top: 5px;
}

.nam-prog .form-label{
      font-size: 14px;
    }
    .nam-prog input::placeholder {
        font-size: 16px;
        margin-top: 5px;
    }
    .nam-prog input{
      font-size: 16px;
    }
    textarea.form-control {
      font-size: 16px !important; 
    }

.form{
    height: auto;
    width: 50%;
}
.form-label{
    font-size: 14px;
    color: #404040;
}
.custom-icon {
    border-right: none; /* Remove left border */
    background-color: white;
}






.gambar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    height: 100%;
}
.inisiator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.gambar .dd{
    margin-top: -15px;
}
.gambar h2{
    font-size: 16px;
    color: #404040;
}
.gambar h3{
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 20px;
}
.gambar h3 img{
    width: 56px;
}
.gambar h3 p{
    font-size: 16px;
    color: black;
}


/* POP UP */
.popup-overlay-campaign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  .popup-campaign {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* optional: add shadow */padding: 40px;
    width: 900px;
    height: 550px;
    overflow-y: auto;
  }
  
  .popup-campaign button {
    margin-top: 10px;
  }
  .popup-campaign h1{
    font-size: 32px;
    color: black;
    font-weight: bold;
  }
  .popup-campaign .title{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: -5px;
  }
  .popup-campaign .formData{
    color: #808080;
    font-weight: normal;
  }
  .detail-popup{
    display: flex;
    gap: 45px;
    margin-top: 20px;
  }
  .gambar-popup{
    width: 260px;
    height: auto;
  }
  .popup-kanan{
    /* width: 500px; */
  }
  .popup-dana{
    display: flex;
    justify-content: space-between;
  }
  .dua-dana{
    display: flex;
    justify-content: space-between;
  }
  .konten-title{
    display: flex;
    gap: 2px;
    align-items: center;
    margin-top: 10px;
  }
  .form-check-label{
    font-weight: normal;
    font-size: 14px;
  }
  .pemberitahuan{
    font-size: 14px;
    color: #808080;
  }
  .pemberitahuan span{
    font-weight: bold;
    color: black;
  }
  .button-dua{
    display: flex;
    justify-content: space-between;
  }
  .kembali-campaign{
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    width: 98px;
    height: 47px;
    border: 1px solid #BFBFBF;
    background-color: transparent;
    border-radius: 10px;
    justify-content: center;
    gap: 2px;
  }
  .setuju{
    font-size: 14px;
    font-weight: 600;
    color: white;
    align-items: center;
    width: 109px;
    height: 47px;
    background-color: #078D41;
    border-radius: 10px;
    justify-content: center;
    border: none;
  }
}


















@media (max-width: 768px) {
    .bungkus-donatur{
        padding: 30px;
        background-color: #EDF6F0;
        height: 100%;
    }
    .donatur{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .kiri{
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 10px;
        text-decoration: none;
    }
    .arrow{
        width: 18px;
    }
    .kembali{
        font-size: 14px;
        color: #404040;
    }
    .button-atas-kanan{
        display: flex;
            align-items: center;
            justify-content: space-between; 
            width: 250px;
    }
    .simpan{
        width: 120px;
        height: 40px;
        border: 1.5px solid #BFBFBF;
        border-radius: 10px;
        font-size: 12px;
        background-color: transparent;
    }
    .verif{
        width: 120px;
        height: 40px;
        border: 2px solid #BFBFBF;
        border-radius: 10px;
        font-size: 12px;
        background-color: rgba(7, 141, 65, 0.8);
        border: none;
        color: white;
    }
    .info{
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid #009B4C;
        font-size: 12px;
    }
    .umum{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        margin-top: 30px;
    }
    .umum p{
        color: #404040;
        font-size: 12px;
        text-decoration: none;
        height: 8px;
    }
    
    .putih{
        background-color: white;
        padding: 30px;
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 30px;  
        height: fit-content;
    }
    .judul{
        font-size: 18px;
        color: black;
    }
    .nam-prog{
        margin-top: -10px;
    }
    .nam-prog .form-label{
      font-size: 12px;
    }
    .nam-prog input::placeholder {
        font-size: 12px;
        margin-top: 5px;
    }
    .nam-prog input{
      font-size: 12px;
    }
    textarea.form-control {
      font-size: 12px !important; 
    }

  
  
    .form-control-textarea::placeholder {
      color: red; /* Warna placeholder */
    }
    
    
    .form{
        height: auto;
        width: 80%;
    }
    .form-label{
        font-size: 13px;
        color: #404040;
    }
    .custom-icon {
        border-right: none; /* Remove left border */
        background-color: white;
    }
    
    
    
    
    
    
    .gambar{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        height: 100%;
        padding-left: 10px;
        width: 170px;
    }
    .inisiator{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .gambar h1{
        font-size: 18px;
        color: black;
        font-weight: bold;
        width: "auto";
    }
    .gambar h2{
        font-size: 14px;
        color: #404040;
    }
    .gambar h3{
        display: flex;
        align-items: end;
        justify-content: start;
        gap: 20px;
    }
    .gambar h3 img{
        width: 50px;
    }
    .gambar h3 p{
        font-size: 12px;
        color: black;
    }


    /* POP UP */
.popup-overlay-campaign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  .popup-campaign {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* optional: add shadow */padding: 40px;
    width: 600px;
    height: 400px;
    padding: 30px;
    overflow-y : auto;
  }
  
  .popup-campaign button {
    margin-top: 10px;
  }
  .popup-campaign h1{
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  .popup-campaign .title{
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: -5px;
  }
  .popup-campaign .formData{
    color: #808080;
    font-weight: normal;
    font-size: 14px;
  }
  .detail-popup{
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .gambar-popup{
    width: 260px;
    height: auto;
  }
  .popup-kanan{
    /* width: 500px; */
  }
  .popup-dana{
    display: flex;
    justify-content: space-between;
  }
  .dua-dana{
    display: flex;
    justify-content: space-between;
  }
  .konten-title{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  .form-check-label{
    font-weight: normal;
    font-size: 14px;
  }
  .pemberitahuan{
    font-size: 13px;
    color: #808080;
  }
  .pemberitahuan span{
    font-weight: bold;
    color: black;
  }
  .button-dua{
    display: flex;
    justify-content: space-between;
  }
  .kembali-campaign{
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    width: 90px;
    height: 40px;
    border: 1px solid #BFBFBF;
    background-color: transparent;
    border-radius: 10px;
    justify-content: space-between;
    gap: 10px;
  }
  .setuju{
    font-size: 12px;
    font-weight: 600;
    color: white;
    align-items: center;
    width: 95px;
    height: 40px;
    background-color: #078D41;
    border-radius: 10px;
    justify-content: center;
    border: none;
  }
    }














    @media (max-width: 320px) {
        .bungkus-donatur{
            padding: 20px;
            background-color: #EDF6F0;
            
        }
        .donatur{
            display: block;
            align-items: center;
            justify-content: space-between;
        }
        .kiri{
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 10px;
            text-decoration: none;
        }
        .arrow{
            width: 18px;
        }
        .kembali{
            font-size: 14px;
            color: #404040;
        }
        .button-atas-kanan{
            display: flex;
                align-items: center;
                justify-content: space-between; 
                width: 100%;
                padding-top: 10px;
        }
        .simpan{
            width: 110px;
            height: 40px;
            border: 1.5px solid #BFBFBF;
            border-radius: 10px;
            font-size: 10px;
            background-color: transparent;
        }
        .verif{
            width: 110px;
            height: 40px;
            border: 2px solid #BFBFBF;
            border-radius: 10px;
            font-size: 10px;
            background-color: rgba(7, 141, 65, 0.8);
            border: none;
            color: white;
        }
        .info{
            width: 100px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #009B4C;
            font-size: 10px;
        }
        .umum{
            display: flex;
            align-items: end;
            justify-content: start;
            gap: 40px;
            width: 100%;
            margin-top: 20px;
        }
        .umum p{
            color: #404040;
            font-size: 10px;
            text-decoration: none;
            height: 12px;
        }
        
        .putih{
            background-color: white;
            padding: 20px;
            margin-top: 30px;
            border-radius: 10px;
            display: block;
            align-items: start;
            justify-content: start;
            height: fit-content;
        }
        .judul{
            font-size: 18px;
            color: black;
            width: 100%;
        }
        .nam-prog{
            margin-top: -10px;
            /* display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 5px; */
        }
        
        
        .form{
            height: auto;
            width: 100%;
        }
        .form-label{
            font-size: 13px;
            color: #404040;
        }
        .custom-icon {
            border-right: none; /* Remove left border */
            background-color: white;
        }
        .form-control::placeholder {
          margin-left: 0;
          text-align: left !important; /* Menjadikan margin kiri menjadi 0 */
          /* Properti gaya lainnya sesuai kebutuhan */
      }
        
        
        
        .gambar{
            display: flex;  
            height: 100%;
            padding-top: 10px;
            margin: auto;
            width: 100%;
            padding-left: 0px;
        }
        .inisiator{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: 100%;
        }
        .gambar h1{
            font-size: 18px;
            color: black;
            font-weight: bold;
            width: "auto";
        }
        .gambar h2{
            font-size: 14px;
            color: #404040;
        }
        .gambar h3{
            display: flex;
            align-items: end;
            justify-content: start;
            gap: 20px;
        }
        .gambar h3 img{
            width: 50px;
        }
        .gambar h3 p{
            font-size: 12px;
            color: black;
        }




         /* POP UP */
.popup-overlay-campaign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .popup-campaign {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* optional: add shadow */padding: 40px;
    width: 250px;
    height: 400px;
    padding: 30px;
    overflow: scroll;
  }
  
  .popup-campaign button {
    margin-top: 10px;
  }
  .popup-campaign h1{
    font-size: 21px;
    color: black;
    font-weight: bold;
  }
  .popup-campaign .title{
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: -5px;
  }
  .popup-campaign .formData{
    color: #808080;
    font-weight: normal;
    font-size: 14px;
    max-width: 200px;
  }
  .detail-popup{
    display: block;
    gap: 45px;
    margin-top: 20px;
  }
  .gambar-popup{
    width: 100%;
    height: auto;
  }
  .popup-kanan{
    /* width: 500px; */
    margin-top: 20px;
    margin-left: 0;
  }
  .popup-kanan ul{
    padding-left: 0px;
  }
  .popup-dana{
    display: flex;
    justify-content: space-between;
  }
  .dua-dana{
    display: block;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
  }
  .konten-title{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  .form-check-label{
    font-weight: normal;
    font-size: 14px;
  }
  .pemberitahuan{
    font-size: 13px;
    color: #808080;
  }
  .pemberitahuan span{
    font-weight: bold;
    color: black;
  }
  .button-dua{
    display: flex;
    justify-content: space-between;
  }
  .kembali-campaign{
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    width: 90px;
    height: 40px;
    border: 1px solid #BFBFBF;
    background-color: transparent;
    border-radius: 10px;
    justify-content: space-between;
    gap: 10px;
  }
  .setuju{
    font-size: 12px;
    font-weight: 600;
    color: white;
    align-items: center;
    width: 95px;
    height: 40px;
    background-color: #078D41;
    border-radius: 10px;
    justify-content: center;
    border: none;
  }
        
        }










    