.custom-table {
    border-radius: 10px; /* Adjust the radius as needed */
    overflow: hidden; /* Ensure rounded corners are visible */
  }

.title {
    font-size: 12px;
}

.text-1 {
    font-size: 14px;
}


.berita-btn:hover {
    color: white !important;
    background: #027A48;
}


.table-container-berita {
    overflow-x: auto;
    white-space: nowrap; /* Prevent text wrapping */
    margin-top: 0;
  }
/* .table-container-berita {
    overflow-x: auto;
    max-width: 100%; */
     /* Adjust the maximum width as needed */
  /* } */

button.edit-btn {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}
button.del-btn {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}
button.draft-btn {
    background-color: #FFFAEB;
    border: none;
    border-radius: 4px;
    color: #B86E00;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
}
button.publish-btn {
    background-color: #ECFDF3;
    border: none;
    border-radius: 4px;
    color: #027A48;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
}

/* EVENT */
.event-modal {
    width: 50%;
    padding: 2rem;
}
.event-modal1 {
    font-size: 19px;
}
.event-modal2 {
    font-size: 12px;
    font-weight: medium;
}
button.btn-modal1 {
    font-size: 8px;
    color: black;
}
button.btn-modal2 {
    font-size: 8px;
    color: white;
}


@media (min-width: 768px) {
    .event-modal {
        max-width: 100%;
    }
    .event-modal1 {
        font-size: 32px;
    }
    .event-modal2 {
        font-size: 14px;
        font-weight: medium;
    }
    button.btn-modal1 {
        font-size: 14px;
        color: black;
    }
    button.btn-modal2 {
        font-size: 14px;
        color: white;
    }
}