
.table-container-berita {
    overflow-x: auto;
    white-space: nowrap; /* Prevent text wrapping */
    margin-top: 0;
  }



.eye{
    display: flex;
    width: auto;
    justify-content: end;
    gap: 5px;
    align-items: start;
}
.eye p{
    color: #5E6F80;
    font-size: 14px;
    text-decoration: none;
}
.next{
    width: auto;
    border: none;
    border-radius: 0px;
    height: 100%;
    text-align: center;
}
.nominal{
    width: 10px;
}



/* popup */
.popup-overlay{
    align-items: center;
    /* height: auto; */
}
.popup{
    width: 500px;
    height: auto;
    padding: 30px;
    /* overflow: auto;
    max-height: 90%; */
}
.popup .judul-transaksi{
    font-size: 28px;
    margin-bottom: 20px;
}
.bungkus-transaksi{
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    height: auto;
}
.hijau{
    height: 40px;
    background-color: #009B4C;
}
.content-popup{
    padding: 25px;
    text-align: center;
}
.tgl-trans{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.tgl{
    font-size: 14px;
    color: #808080;
    margin-top: -15px;
}
.donasi{
    font-size: 24px;
    font-weight: bold;
    margin-top: -15px;
}
.garis {
    border: 1px dashed #BFBFBF;
}
.nama-donatur{
    display: flex;
    justify-content: space-between;
}
.judul-kiri{
    font-size: 14px;
    color: #808080;
}
.judul-kanan{
    font-weight: 700;
    font-size: 14px;
}
.akhir{
    border: 1px solid #BFBFBF;
    background-color: transparent;
}





@media (max-width: 768px){
    /* popup */
.popup-overlay{
    align-items: center;
    height: 100%;
}
.popup{
    width: 450px;
    height: 500px;
    padding: 30px;
    overflow: auto;
    max-height: 400px;
}
.popup .judul-transaksi{
    font-size: 23px;
    margin-bottom: 20px;
}
.bungkus-transaksi{
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    height: auto;
}
.hijau{
    height: 40px;
    background-color: #009B4C;
}
.content-popup{
    padding: 15px;
    text-align: center;
    margin-top: -10px;
}
.tgl-trans{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.tgl{
    font-size: 12px;
    color: #808080;
    margin-top: -15px;
}
.donasi{
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
}
.garis {
    border: 1px dashed #BFBFBF;
}
.nama-donatur{
    display: flex;
    justify-content: space-between;
}
.judul-kiri{
    font-size: 12px;
    color: #808080;
}
.judul-kanan{
    font-weight: 700;
    font-size: 12px;
}
.akhir{
    border: 1px solid #BFBFBF;
    background-color: transparent;
    font-size: 10px;
}


}






@media (max-width: 320px){
    /* popup */
.popup-overlay{
    align-items: center;
    height: 100%;
}
.popup{
    width: 250px;
    padding: 30px;
    overflow: auto;
    max-height: 400px;
}
.popup .judul-transaksi{
    font-size: 18px;
    margin-bottom: 20px;
}
.bungkus-transaksi{
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    height: auto;
}
.hijau{
    height: 30px;
    background-color: #009B4C;
}
.content-popup{
    padding: 10px;
    text-align: center;
    margin-top: -15px;
}
.tgl-trans{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.tgl{
    font-size: 10px;
    color: #808080;
    margin-top: -15px;
}
.donasi{
    font-size: 18px;
    font-weight: bold;
    margin-top: -15px;
}
.garis {
    border: 1px dashed #BFBFBF;
}
.nama-donatur{
    display: flex;
    justify-content: space-between;
}
.judul-kiri{
    font-size: 10px;
    color: #808080;
    text-align: start;
}
.judul-kanan{
    font-weight: 700;
    font-size: 10px;
    text-align: end;
}
.akhir{
    border: 1px solid #BFBFBF;
    background-color: transparent;
    font-size: 10px;
}


}