  @media (max-width: 1440px){
     .bungkus-grid {
    padding: 2rem 0;
  }
  
  label.cover-label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius: 20px;
    width: 100%;
    height: 10rem;
    cursor: pointer;
    font-size: large;
    text-align: center;
    padding: 50px;
  }
  
  label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
    text-align: center;
  }
  
  .input-grid {
    display: none;
  }
  
  img {
    padding: 0;
    margin: 0;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    margin: 1rem 0.5rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  
  .image button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .image button:hover {
    background-color: none;
    border: 1px solid red;
  }
  
  .image p {
    padding: 0 0.5rem;
    margin: 0;
  }
  
  .upload-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: green;
  }
  
  label.cover-label :hover,
  .upload-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .error {
    text-align: center;
  }
  
  .error span {
    color: red;
  }
  }
 
  

  @media (max-width: 768px) {
    .bungkus-grid{
      width: 100%;
    }
    .image img {
      width: 170px;
      height: auto;
    }
    label.cover-label  {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px dotted black;
      border-radius: 20px;
      width: 200px;
      cursor: pointer;
      font-size: large;
      text-align: center;
      padding: 15px;
    }
    
    label span {
      font-weight: lighter;
      font-size: auto;
      padding-top: 0.5rem;
      text-align: center;
      width: 150px;
    }

    .judul-drag {
      margin-right: 5px;
      font-weight: bold;
      text-align: center;
    }
    

    .upload-btn {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      border: none;
      border-radius: 10px;
      width: 8rem;
      height: 2rem;
      color: white;
      background-color: green;
      font-size: 10px;
    }

  }



  @media (max-width: 320px) {
    .bungkus-grid{
      width: 80%;
    }
    .image img {
      width: 170px;
      height: auto;
    }
    label.cover-label  {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px dotted black;
      border-radius: 20px;
      width: 100px;
      cursor: pointer;
      font-size: large;
      text-align: center;
      
    }
    
    label span {
      font-weight: lighter;
      font-size: auto;
      padding-top: 0.5rem;
      text-align: center;
      width: 150px;
    }

    .judul-drag {
      margin-right: 5px;
      font-weight: bold;
      text-align: center;
    }
    

    .upload-btn {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      border: none;
      border-radius: 10px;
      width: 8rem;
      height: 2rem;
      color: white;
      background-color: green;
      font-size: 10px;
    }

  }