/* Define a default height */
.login-img {
    height: 100%;
  }
  
  /* Adjust height for smaller screens */
  @media screen and (max-width: 768px) {
    .login-img {
      height: 300px;
    }
  }
  
  /* Adjust height for even smaller screens */
  @media screen and (max-width: 480px) {
    .login-img {
      height: 200px;
    }
  }
  