/* @media (max-width: 1440px){
    .form-check{
        border: 2px solid red;
    }
    .form-check form-check-input{
        border: 2px solid green;
    }
    .form-check form-check-label{
        border: 2px solid green;
    }
} */
